* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	@include font-size($base-font-size);
	@include font-family($main-font, $font-sans-serif);
	color: $base-font-color;
}

nav,
main{
  @include font-size($font-size-large);
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-family($header-font, $font-sans-serif);
}

a {
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
