@font-face {
	font-family: 'open_sansregular';
	src: url('assets/fonts/Open-Sans/opensans-regular-webfont.woff2') format('woff2'),
			 url('assets/fonts/Open-Sans/opensans-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'open_sansbold';
	src: url('assets/fonts/Open-Sans/opensans-bold-webfont.woff2') format('woff2'),
			 url('assets/fonts/Open-Sans/opensans-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
  font-family: 'robotothin';
  src: url('assets/fonts/Roboto-Thin/Roboto-Thin-webfont.woff2') format('woff2'),
       url('assets/fonts/Roboto-Thin/Roboto-Thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

